.App {
  text-align: center;
  padding: 30px;
  background-color: floralwhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* To be added after decising class names with the team
ul, li, hover, done, undone, icon etc.

*/
